*{
    margin: 0px;
    padding: 0px;
    font-family: Baskerville Old Face;
}

.ancho-de-100-porciento{
    width: 100%;
}

.borde-generico {
    border: solid 2px yellowgreen;
}

.margen-entre-carrusel-columna {
    margin-bottom: 100px;
}

.espacio-titulo-texto {
    margin-bottom: 35px;
}

.imagen-carrusel {
    width: 400px;
     height: 700px;
}
.tamaño-texto{
    font-size: 30px;
}
.tamaño-titulo{
    font-size: 60px;
}
.tamaño-titulo-carrusel {
    font-size: 37px;
}
.color-pagina{
    background-color: #f7f7f7;
}